@import '~@angular/material/theming';

$custom-typography: mat-typography-config(
    $font-family: 'Product Sans',
    $headline: mat-typography-level(32px, 48px, 700),
    $body-1: mat-typography-level(16px, 24px, 500)
);

@include mat-core($custom-typography);


$dark-primary: mat-palette($mat-green, A700);
$dark-accent:  mat-palette($mat-red, A200, A100, A400);
$dark-warn:     mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

$light-primary: mat-palette($mat-green, A700);
$light-accent:  mat-palette($mat-red, A200, A100, A400);
$light-warn:    mat-palette($mat-deep-orange);
$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);

@include angular-material-theme($light-theme);